<template>
  <div class="the-filter">
    <h1 class="the-filter__heading">User Directory</h1>
    <div class="the-filter__input-wrap">
      <input
        class="the-filter__input"
        type="text"
        placeholder="Search"
        v-model="filterInput"
      />
    </div>
    <p
      class="the-filter__result-length"
      v-text="`${usersFilteredLength} Results`"
    />
    <ul class="the-filter__list">
      <li
        v-for="(user, index) in usersFiltered"
        :key="`user__${index}`"
        class="the-filter__item"
      >
        <div class="the-filter__thumbnail">
          <!-- I opted to use the large version here. Image file size was Ok for mobile -->
          <img
            class="the-filter__img"
            :src="user.picture.large"
            :alt="`${user.name.first} ${user.name.last}`"
          />
        </div>
        <div class="the-filter__content">
          <div class="the-filter__content-inner">
            <h2
              class="the-filter__name"
              v-text="`${user.name.first} ${user.name.last}`"
            />
            <p
              class="the-filter__address"
              v-html="`${user.location.street}<br>
                ${user.location.state}, ${user.location.postcode}`"
            />
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
// Axios of course will be used to retrieve the original array from the endpoint.
// I like to use fuse to handle input queries due to it's fuzzy search.
// It returns the filtered array we'll need based on whats going on in the input field
import axios from 'axios';
import Fuse from 'fuse.js';

export default {
  data() {
    return {
      users: null,
      fuse: null,
      filterInput: '',
      results: 0,
    };
  },
  computed: {
    // Computed property provides the live list
    // of filtered users based on the search query via v-model
    usersFiltered() {
      let u;

      if (this.fuse) {
        if (this.fuse.search(this.filterInput).length > 0) {
          u = this.fuse.search(this.filterInput);
        } else {
          u = this.users;
        }
      }

      return u;
    },
    // Computed property provides the length of the aforementioned
    // live list. I use this for the little results label
    usersFilteredLength() {
      let n;

      if (this.usersFiltered) {
        n = this.usersFiltered.length;
      } else {
        n = 0;
      }

      return n;
    },
  },
  mounted() {
    // Single call to the endpoint when the component is mounted
    axios.get('https://randomuser.me/api/?results=100').then((response) => {
      this.users = response.data.results;

      if (this.users) {
        this.fuse = new Fuse(this.users, {
          shouldSort: true,
          threshold: 0.2,
          location: 0,
          distance: 100,
          maxPatternLength: 32,
          minMatchCharLength: 1,
          keys: [
            'name.first',
            'name.last',
          ],
        });
      }
    });
  },
};
</script>

<style lang="scss">
// I typically like writing variables in a seperate partial,
// but for the sake of this excersize, they'll live here.

// Colors
$gray-light: #f8f8f8;
$gray-dark: #444444;

// Details
$user-margin: 20px;
$component-margin: 25px;
$user-thumbnail-size-mobile: 120px;

.the-filter {
  padding: 20px 0;
}

.the-filter__heading {
  font-size: 30px;
  text-align: center;
  margin: 0 $user-margin;
}

.the-filter__heading + .the-filter__input-wrap {
  margin-top: $component-margin;
}

.the-filter__input-wrap {
  margin: 0 $user-margin;
}

.the-filter__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  font-family: 'Avenir';
  font-size: 20px;
  font-weight: bold;
  background-color: $gray-light;
  border: 0;
  appearance: none;
}

.the-filter__input-wrap + .the-filter__result-length {
  margin-top: $component-margin;
}

.the-filter__result-length {
  font-size: 18px;
  text-align: center;
}

.the-filter__result-length + .the-filter__list {
  margin-top: $component-margin;
}

.the-filter__list {
  margin: $user-margin;
}

.the-filter__item {
  display: flex;
  width: 100%;
  height: $user-thumbnail-size-mobile;
  overflow: hidden;
  border: 1px solid $gray-light;
  border-radius: 5px;
  background-color: $gray-light;
}

.the-filter__item + .the-filter__item {
  margin-top: $user-margin;
}

.the-filter__thumbnail {
  position: relative;
  width: $user-thumbnail-size-mobile;
  height: 100%;
  background-color: red;
}

.the-filter__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.the-filter__content {
  display: flex;
  align-items: center;
  width: calc(100% - 120px);
  padding: $user-margin;
  text-align: left;
}

.the-filter__name {
  text-transform: capitalize;
}

.the-filter__name + .the-filter__address {
  margin-top: 5px;
}

.the-filter__address {
  text-transform: capitalize;
}
</style>
