<template>
  <div id="app">
    <TheFilter />
  </div>
</template>

<script>
import TheFilter from './components/TheFilter.vue';

export default {
  name: 'app',
  components: {
    TheFilter,
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
